


.pointer {
  width: 6.25em;
  height: 1.25em;
  position: relative;
  background: red;
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 0.625em solid #fff9c4;
  border-top: 0.625em solid transparent;
  border-bottom: 0.625em solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -0.615em;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 0.625em solid red;
  border-top: 0.625em solid transparent;
  border-bottom: 0.625em solid transparent;
}

.discount{
  display: flex;
  justify-content: center;
}