.card {
  z-index: 1;
  position: relative;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: rgba(0, 215, 255, 0.2);
  /* background-color: rgba(255, 215, 0, 0.2); */
  color: rgb(0, 50, 100);
  height: auto;
  text-shadow: rgb(255, 255, 255) 0.5px 0.5px, white -0.5px -0.5px,
    white 2px 2px 2px;
}

h3,h5 {
  margin: 0px;
}

.image {
  width: 70%;
  margin: 30px 0 0 0;
  border-radius: 10px;
  height: 70%;
  /* min-height: 300px; */
}

.floatingRight {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
  }
  
  .floatingLeft {
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 10px;
    text-align: center;
  }
