.card:hover {
  background-color: #188fff16;
  transform: scale(1.05);
}


.card:active {
  transform: translateY(2px);
  box-shadow: none;
}

.card {
  background-color: whitesmoke;
  border-radius: 10px;
  border: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  
}
.card.a {
  text-decoration: none;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}