.ce-my-message-bubble {
  background-color:#a74949;
  font-weight: 400;
  font-size: 14px;
}
 
.ce-chat-title-text {
  color:#a74949
}

.ce-chat-suƒbtitle-text {
  color: #a74949;
  font-weight: 400;
  font-size: 18px;
}

#ce-send-message-button {
  position: relative;
  bottom: 2px;
  left: 1px;
  background-color: #a74949
}

.ce-my-message-timestamp {
  color:#a74949}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  font-weight: 400;
  font-size: 14px;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
