.navPages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0.5rem;
  
}

.numberPage,
.pageBtn {
  border: none;
  height: 2rem;
  width: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
  background-color: #fff;
  margin: 0 0.2rem;
  transition: all 0.2s;
}

.numberPage:hover,
.pageBtn:hover {
    cursor: pointer;
    background-color: #188fff3b;
    border: none;
    border-radius: 3px;
    transition: all 0.2s

  }


.pageBtn.prev::before {
  content: "<";
}

.pageBtn.next::after {
  content: ">";
}

.match {
  border: 1px solid #1890ff;
  border-radius: 3px;
  height: 2rem;
  width: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #1890ff;
  background-color: white;
  margin: 0 0.2rem;
  transition: all 0.2s
}

.match:hover {
  cursor: pointer;
  color:#69b3f8; 
  border:1px solid #69b3f8; 
  border-radius: 3px;
}

.pageBtn:disabled {
  background-color: #f5f5f5;
  color: rgb(183, 179, 179);
}

.dots:disabled {
  cursor: none
}
