.navPages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.pageList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0.5rem;
}

.numberPage,
.pageBtn {
  border: none;
  height: 2rem;
  width: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff9c4;
  background-color: #3e2723;
  margin: 0 0.2rem;
  border-radius: 15px;
  border: #ffd600;

  transition: all 0.2s;
}

.numberPage:hover,
.pageBtn:hover {
  cursor: pointer;
  background-color: #806c67;
  border-radius: 20px 0 20px 0;
  transition: all 0.2s;
}

.pageBtn.prev::before {
  content: "<<";
}

.pageBtn.next::after {
  content: ">>";
}

.match {
  border: 1px solid #3e2723;
  border-radius: 15px;
  height: 2rem;
  width: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #3e2723;
  background-color: #ffd600;
  margin: 0 0.2rem;
  transition: all 0.2s;
}

.match:hover {
  cursor: pointer;
  color: #caa800;
  border: 1px solid #caa800;
  border-radius: 20px 0 20px 0;
}

.pageBtn:disabled {
  background-color: #3e2723;
  color: #3e2723;
}

.dots:disabled {
  cursor: none;
}
