

/* .SearchBarContainer{
  flex-wrap: nowrap;
  display: block;

} */
/* .SearchInput{
  flex: 1;
  width: 80%;  
  margin: auto;
  padding: 0.75rem;
  border-radius: 5px;
} */

/* .SearchBarButton{
  padding: 0.30rem;
  margin-left: 0.5rem;
  outline: none;
} */

.SearchBar{
  display: flex;
  justify-content: center;
}