.swiper-button-prev,
.swiper-button-next {
  color:#a74949;
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #fd7373;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  border: 1px solid;
  border-color:  #fd7373;
  background-color: #a74949;
  font-size: 50rem;
  bottom: 10px
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}