.mainDiv {
  background-color: "#d1d1d1";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
}

.divFiltersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.filters {
  background-color: #a74949;
  border: 2px;
  gap: 1rem;
  padding: 0.5rem;
  color: white;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
}
.filters:focus {
  border: none;
  outline: none;
  background-color: #a74949;
}

.filters:hover {
  background-color: #c98383;
}

.divContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.divFiltersApplied {
  display: flex;
  margin-top: 0.2rem;
  padding: 0rem;
  border: 1px solid;
  border-radius: 5px;
  background-color:#a74949;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

div > p {
  margin: 0 3px;
  border:  #e4704c;
  color: #e4704c
}

.btnFiltersApplied {
  padding: 0;
  background-color: #e4704c;
  border-radius: 2px;
  border-color:  #e4704c;
  color:#a74949;
  cursor: pointer;
  margin: 0 4px 0 0;
  width: 20px;
}
