.flecha {
  animation: arrow 1s ease-in-out infinite;
  font-size: 40px;
  color: white;
  z-index: 1;
  cursor: pointer;
  margin: 0px auto 5px auto;
}

.flecha:hover {
  color:  #a74949;
}
@keyframes arrow {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 10px);
  }
}


