.container {
  width: 100%;
  height: 100vh;
  background-image: url("../../Assets/Fondo.png");
  background-position: inherit;
  background-size: cover;
  background-attachment: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  height: 30px;
  width: 70px;
  background-color: #1890ff;
  color: white;
  border: 1px solid #69b3f8;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 70px;
}

.btn:hover {
  background-color: #69b3f8;
  border: 1px solid #1890ff;
}

.flecha {
  animation: arrow 1s ease-in-out infinite;
  font-size: 40px;
  color: black;
  z-index: 1;
  cursor: pointer;
  margin: -30px;
}

.flecha:hover {
  animation: arrow 1s ease-out infinite !important;
  color: white;
}
@keyframes arrow {
  0% {
    transform: translate(0px, 50px);
  }
  50% {
    transform: translate(0px, 60px);
  }
  100% {
    transform: translate(0px, 50px);
  }
}
