.container {
  width: 100%;
  height: 100vh;
  background-image: url("../../Assets/Fondo.png");
  background-position: inherit;
  background-size: cover;
  background-attachment: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flecha {
  animation: arrow 1s ease-in-out infinite;
  font-size: 40px;
  color: #FFD600;
  z-index: 1;
  cursor: pointer;
  margin: -30px;
}

.flecha:hover {
  animation: arrow 1s ease-out infinite !important;
  color: whitesmoke
}
@keyframes arrow {
  0% {
    transform: translate(0px, 50px);
  }
  50% {
    transform: translate(0px, 60px);
  }
  100% {
    transform: translate(0px, 50px);
  }
}
